# Performance das Consultas

## Importando Bibliotecas

In [1]:
import duckdb
import time

## Conectando à base de dados

In [2]:
cursor = duckdb.connect()
DATABASE = '*.parquet'

## Consultas

### Quantidade de Registros

In [3]:
query = f"SELECT COUNT(*) FROM '{DATABASE}'"

In [4]:
tic = time.time()

cursor.execute(query)
n_rows = cursor.fetchone()

toc = time.time()

print(f"Number of rows: {n_rows[0]:,}")
print(f"Time: {toc - tic:.2f}s")

Number of rows: 4,283,329,488
Time: 1.47s

### Primeiros Registros

In [6]:
query = f"""
    SELECT 
        *
    FROM '{DATABASE}' LIMIT 5
"""

tic = time.time()
cursor.execute(query)
df_result = cursor.df()
toc = time.time()

print(f"Time: {toc - tic:.2f}s")
df_result

Time: 0.82s

,event_timestamp,event_type,some_id,event_system,event_description,event_id,filename
0,2022-10-26 10:39:36,INFO,67305985,LOGD,Início das operações do logd,E2C58C3021D6DB87,/data/logs/2_AC/o00407-0100700090001_new.csv
1,2022-10-26 10:39:36,INFO,67305985,LOGD,Urna ligada em 26/10/2022 às 10:38:20,DFBD462E26E8F1EA,/data/logs/2_AC/o00407-0100700090001_new.csv
2,2022-10-26 10:39:36,INFO,67305985,SCUE,Iniciando aplicação - Oficial - 1º turno,B8E2CBFADB3EF46B,/data/logs/2_AC/o00407-0100700090001_new.csv
3,2022-10-26 10:39:36,INFO,67305985,SCUE,Versão da aplicação: 8.26.0.0 - Onça-pintada,AC76A5B17419CB2E,/data/logs/2_AC/o00407-0100700090001_new.csv
4,2022-10-26 10:39:38,INFO,67305985,SCUE,Urna operando com rede elétrica,ED0703CBF6110D2C,/data/logs/2_AC/o00407-0100700090001_new.csv

### Primeiros registros + filtro RN

In [7]:
query = f"""
    SELECT 
        *
    FROM '{DATABASE}'
    WHERE filename ILIKE '%RN%'
    LIMIT 500
"""

tic = time.time()
cursor.execute(query)
df_result = cursor.df()
toc = time.time()

print(f"Time: {toc - tic:.2f}s")

Time: 69.65s

In [11]:
query = f"""
    SELECT 
        *
    FROM '{DATABASE}'
    WHERE filename ILIKE '%SP%'
    LIMIT 500
"""

tic = time.time()
cursor.execute(query)
df_result = cursor.df()
toc = time.time()

print(f"Time: {toc - tic:.2f}s")

Time: 91.12s

### Distinct

event_type

In [12]:
query = f"""
    SELECT DISTINCT
        event_type
    FROM '{DATABASE}'
"""

tic = time.time()
cursor.execute(query)
df_result = cursor.df()
toc = time.time()

print(f"Time: {toc - tic:.2f}s")

Time: 5.69s

event_description

In [14]:
query = f"""
    SELECT DISTINCT
        event_description
    FROM '{DATABASE}'
"""

tic = time.time()
cursor.execute(query)
df_result = cursor.df()
toc = time.time()

print(f"Time: {toc - tic:.2f}s")

Time: 29.33s